.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;

  &-withPerPage {
    @media (min-width: 576px) {
      justify-content: space-between;
      width: 100%;
    }
  }
}

.changer {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  &-onlyActive {
    .itemBreak,
    .item {
      display: none;
    }

    .item:first-child,
    .item:last-child,
    .itemActive {
      display: block;
    }
  }
}

.item {
  display: block;

  &Link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    margin: 0 4px;
    color: black;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    cursor: pointer;
    transition: none;
    user-select: none;
  }

  &Active {
    display: block;

    &Link {
      color: rgba(255, 255, 255, 0.9);
      background-color: #5898f8;

      &:hover {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  &Disabled {
    .itemLink,
    .itemIcon {
      color: rgba(255, 255, 255, 0.5) !important;
      cursor: not-allowed !important;
    }
  }

  &Disabled.itemLink {
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: not-allowed !important;
  }

  &Break {
    cursor: pointer;

    &Icon {
      width: 16px;
      min-width: 16px;
      height: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &Icon {
    width: 16px;
    min-width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.9);
  }
}

.nowrap {
  white-space: nowrap;
}
